<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengwei.mapper.ProductSsdMapper" >
  <resultMap id="BaseResultMap" type="com.fengwei.pojo.ProductSsd" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="series" property="series" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="form_factor" property="formFactor" jdbcType="DECIMAL" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="memory_components" property="memoryComponents" jdbcType="VARCHAR" />
    <result column="interfaces" property="interfaces" jdbcType="VARCHAR" />
    <result column="cache" property="cache" jdbcType="INTEGER" />
    <result column="max_read" property="maxRead" jdbcType="INTEGER" />
    <result column="max_write" property="maxWrite" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="DECIMAL" />
    <result column="width" property="width" jdbcType="DECIMAL" />
    <result column="depth" property="depth" jdbcType="DECIMAL" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="features" property="features" jdbcType="LONGVARCHAR" />
    <result column="sub_images" property="subImages" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>