<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengwei.mapper.ProductMemoryMapper">
    <resultMap id="BaseResultMap" type="com.fengwei.pojo.ProductMemory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="brand" property="brand" jdbcType="VARCHAR"/>
        <result column="series" property="series" jdbcType="VARCHAR"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="capacity" property="capacity" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="speed" property="speed" jdbcType="INTEGER"/>
        <result column="cas_latency" property="casLatency" jdbcType="INTEGER"/>
        <result column="timing" property="timing" jdbcType="VARCHAR"/>
        <result column="voltage" property="voltage" jdbcType="DECIMAL"/>
        <result column="heat_spreader" property="heatSpreader" jdbcType="BIT"/>
        <result column="main_image" property="mainImage" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="sub_images" property="subImages" jdbcType="LONGVARCHAR"/>
    </resultMap>
</mapper>