<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengwei.mapper.UserOrderMapper" >
  <resultMap id="BaseResultMap" type="com.fengwei.pojo.UserOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="shipping_id" property="shippingId" jdbcType="INTEGER" />
    <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="payment_type" property="paymentType" jdbcType="INTEGER" />
    <result column="postage" property="postage" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="paid_time" property="paidTime" jdbcType="TIMESTAMP" />
    <result column="sent_time" property="sentTime" jdbcType="TIMESTAMP" />
    <result column="ended_time" property="endedTime" jdbcType="TIMESTAMP" />
    <result column="closed_time" property="closedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>